{% macro default() %}
<div id="fs-menubar" class="ui container fluid flex">
  <div class="ui dropdown left inverted large">
    <button class="ui button icon basic large">
      <i class="icon fas fa-caret-down"></i>
      {{ __("bulk-actions")|capitalize }}
    </button>

    <div class="menu" id="fs-bulkmenu">
      <div class="item download">
        <i class="icon fas fa-download fa-fw"></i>
        {{ __("download")|capitalize }}
      </div>
      <div class="item delete">
        <i class="icon fas fa-trash fa-fw"></i>
        {{ __("delete")|capitalize }}
      </div>
    </div>
  </div>

  <template id="fs-breadcrumb-item">
    {{-""-}}
    <a class="step" data-table="filesystem" href="#">
      <div class="content">
        <div class="title"></div>
      </div>
    </a>
    {{-""-}}
  </template>
  <div class="ui inverted steps mini nomargin" id="fs-breadcrumb">
    <a class="step active" href="./" data-table="filesystem">
      <div class="content">
        <div class="title">{{ __("files")|capitalize }}</div>
      </div>
    </a>
  </div>
  <div class="ui dropdown inverted large">
    <button class="ui button icon basic large">
      <i class="icon fas fa-ellipsis-v"></i>
    </button>

    <div class="menu" id="fs-dirmenu">
      <div class="item download">
        <i class="icon fas fa-download fa-fw"></i>
        {{ __("download-folder")|capitalize }}
      </div>
      <div class="item delete">
        <i class="icon fas fa-trash fa-fw"></i>
        {{ __("delete-folder")|capitalize }}
      </div>
    </div>
  </div>

  <div class="ui dropdown right inverted large">
    <button class="ui button icon green inverted large">
      <i class="icon fas fa-plus fa-lg"></i>
    </button>

    <div class="menu left" id="fs-menu"
        data-api="{{ getLink(CONFIG.urls.api._base+CONFIG.urls.api.files, false) }}">
      <div class="item new-folder">
        <i class="icon fas fa-folder-plus fa-fw"></i>
        {{ __("new-folder")|capitalize }}
      </div>
      <div class="item upload-folder disabled">
        <i class="icon fas fa-upload fa-fw"></i>
        {{ __("upload-folder")|capitalize }}
      </div>
      <div class="item upload-file">
        <i class="icon fas fa-file-upload fa-fw"></i>
        {{ __("upload-file")|capitalize }}
      </div>
    </div>
  </div>
</div>

<table id="filesystem" class="ui table fluid unstackable striped datatable"
    data-dom="t" data-order='[[2, "asc"]]' data-order-fixed='[[1, "asc"], [5]]'>
  <thead>
    <th data-orderable="false" class="collapsing"><div class="ui checkbox">
      <input type="checkbox" autocomplete="off"><label></label>
    </div></th>
    <th data-orderable="false" class="collapsing"></th>
    <th>{{ __("title")|capitalize }}</th>
    <th>{{ __("type" )|capitalize }}</th>
    <th>{{ __("size" )|capitalize }}</th>
    <th>{{ __("mtime")|capitalize }}</th>
    <th data-orderable="false" class="two wide"></th>
    <th data-orderable="false" class="collapsing"></th>
  </thead>

  {% call tbody() %}{% endcall %}

  <template id="fs-uploadItem">
    {{-""-}}
    <tr>
      <td></td>
      <td class="nopadding center aligned thumbnail">
        <i class="icon fas fa-file-upload fa-lg fa-fw"></i>
      </td>
      <td class="filename"></td>
      <td colspan="4">
        <div class="ui progress small primary uploadProgress">
          <div class="bar">
            <div class="progress"></div>
          </div>
        </div>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    {{-""-}}
  </template>
</table>


<template id="fs-newfoldermodal">
  {{-""-}}
  <form class="ui modal basic form four wide" action="#">
    <div class="ui icon header">
      <i class="icon fas fa-folder-plus"></i>
      {{ __("new-folder")|capitalize }}
    </div>
    <div class="content text centered">
      <div class="field four wide center margined">
        <label for="newfolder-name">{{ __("title")|capitalize }}</label>
        <input type="text" autocomplete="false"
            placeholder="{{ __('title')|capitalize }}">
      </div>
    </div>
    <div class="actions">
      <div class="ui cancel basic button inverted">
        {{ __("cancel")|capitalize }}
      </div>
      <button class="ui approve green basic button inverted">
        {{ __("create")|capitalize }}
      </button>
    </div>
  </form>
  {{-""-}}
</template>
<template id="fs-deletemodal">
  {{-""-}}
  <div class="ui modal basic">
    <div class="ui icon header">
      <i class="icon fas fa-trash"></i>
      {{ __("confirm-file-delete")|capitalize }}
    </div>
    <div class="content text centered">
      <p>{{ __("undonable-action")|capitalize }}!</p>
      <p>
        <span class="count"></span> {{ __("files-going-to-delete") }}.
      </p>
    </div>
    <div class="actions">
      <div class="ui cancel basic button inverted">
        {{ __("cancel")|capitalize }}
      </div>
      <div class="ui approve red basic button inverted">
        {{ __("delete")|capitalize }}
      </div>
    </div>
  </div>
  {{-""-}}
</template>
{% endmacro %}

{% macro tbody() %}
<tbody data-breadcrumb='{{ req.urlComps|json|safe }}'>
  {% if req.urlComps.length > 1 %}
  <tr>
    <td data-search=""></td>
    <td class="nopadding center aligned thumbnail" data-order="" data-search="">
      <i class="icon fas fa-level-up-alt fa-lg fa-fw"></i>
    </td>
    <td data-order="#" class="six wide" data-search="">
      <a href="{{ getLink('../', false) }}" data-table="filesystem">..</a>
    </td>
    <td data-order="#" data-search="folder"></td>
    <td data-order="#" data-search=""></td>
    <td data-order="#" data-search=""></td>
    <td data-order="#" data-search=""></td>
    <td class="collapsing"></td>
  </tr>
  {% endif %}
  {% for file in folder %}
  <tr data-filename="{{ file.name }}" data-type="{{ file.type }}">
    <td data-search=""><div class="ui checkbox">
      <input type="checkbox" autocomplete="off"><label></label>
    </div></td>
    <td class="nopadding center aligned thumbnail" data-search=""
        data-order="{{ (not file.isFolder)|number }}">
      {% if file.type == "image" %}
      <img src="{{ getThumbnail(file.link, 'icon32w') }}">
      {% elseif file.type == "video" %}
        {# TODO #}
      {% elseif file.type == "folder" %}
      <i class="icon fas fa-{{ file.type }} fa-lg fa-fw"></i>
      {% elseif file.type == "file" %}
      <i class="icon fas fa-file fa-lg fa-fw"></i>
      {% else %}
      <i class="icon fas fa-file-{{ file.type }} fa-lg fa-fw"></i>
      {% endif %}
    </td>
    <td class="filename" data-search="{{ file.name }}"
        data-order="{{ file.name }}">
      {% if file.isFolder %}
      <a href="{{ getLink('./'+file.name, false) }}" data-table="filesystem">
        {{ file.name }}
      </a>
      {% else %}
      {{ file.name }}
      {% endif %}
      <i class="icon fas fa-edit rename"></i>
    </td>
    <td class="type" data-search="{{ file.type }}">{{ __(file.type) }}</td>
    {% if file.isFolder %}<td></td>{% else %}
      <td class="filesize" data-search="{{ file.size }}">{{ file.size }}</td>
    {% endif %}
    <td class="date" data-order="{{ file.mtime }}" data-search="">
      {{ file.mtime }}
    </td>
    <td class="compact nopadding ui menu inverted fluid three item"
        data-search="">
      <a class="item ui tooltip"
          data-c2c="{{ getFile(path+'/'+file.name)|link }}"
          data-result-title="{{ __('link-copied')|capitalize }}"
          title="{{ __('copy-link')|capitalize }}">
        <i class="fas fa-fw fa-link"></i>
      </a>
      <a class="item ui tooltip download"
          title="{{ __('download')|capitalize }}">
        <i class="fas fa-fw fa-download"></i>
      </a>
      <a class="item delete ui tooltip" title="{{ __('delete')|capitalize }}">
        <i class="fas fa-fw fa-trash"></i>
      </a>
    </td>
    <td data-search=""></td>
  </tr>
  {% endfor %}
</tbody>
{% endmacro %}
