<nav id="sidebarMenu" class="ui sidebar left visible menu inverted vertical">
  <div class="header">
    <img src="{{ getAsset('/img/purky_wb.png') }}" alt="{{ appName }}"
        class="dashBrand">
  </div>

  {% include "./_nav.njk" %}

  <div class="account">
    <img src="{{ getAsset('/img/defaultProfile.png') }}"
      class="ui avatar image bordered accountImg">

    <div class="accountInfo">
      <p>{{__("welcome")|capitalize}}, {{user.data.login}}!</p>

      <a class="ui button green small inverted icon labeled"
          data-pjax-anim1="slidedown" href="/admin/logout">
        <i class="fas icon fa-sign-out-alt"></i> {{__("logout")}}
      </a>
    </div>
  </div>
</nav>
