{% macro menu_item(item) %}
    <a class="item" href="{{ getLink(item.link) }}">
      <i class="fas fa-fw fa-{{item.icon|default('user-ninja')}}"></i>
      {{- __(item.title)|capitalize -}}
    </a>
{% endmacro -%}


{# Pre menu #}
{% for item in menu.admin_pre %}
  {{- menu_item(item) -}}
{% endfor -%}
{# /Pre menu #}

<div class="ui divider"></div>

{# Obsah #}
{%- for _,type in contentTypes %}
  {{- menu_item({
    title: __(type.namePlural),
    link: "/content/"+type.namePlural,
    icon: type.icon
  }) -}}
{% endfor -%}
{# /Obsah #}

<div class="ui divider"></div>

{# Post menu #}
{%- for item in menu.admin_post %}
  {{- menu_item(item) -}}
{% endfor %}
{# /Post menu #}
