{% set self = getSelf() %}

{####################}
{### SWITCH INPUT ###}
{####################}
{% macro switch(name, field, value) %}
{% set id = field.id|default('forminput'+randString(4)) %}
<div class="ui form field toggle checkbox inverted {{ field.class }}">
  <input id="{{ id }}"
      {% if field.required %} required{% endif %}
      type="checkbox" name="{{ name }}" {% if value %}checked{% endif %}>
  <label for="{{ id }}">
    {{ __(field.label|default(name))|capitalize }}
  </label>
</div>
{% endmacro %}

{##################}
{### TEXT INPUT ###}
{##################}
{% macro text(name, field, value) %}
{% if field.editor %}
  {{- textarea(name, field, value, showTitle) -}}
{% else %}
{% set id = field.id|default('forminput'+randString(4)) %}
<div class="ui form field {{ field.class }}">
  <label for="{{ id }}">{{ __(field.label|default(name))|capitalize }}</label>
  <input id="{{ id }}"
      {% if field.required %} required{% endif %}
      placeholder="{{ __(field.label|default(name))|capitalize }}"
      autocomplete="off" type="text" name="{{ name }}" value="{{ value }}">
</div>
{% endif %}
{% endmacro %}

{#################}
{### TEXT AREA ###}
{#################}
{% macro textarea(name, field, value) %}
{% set id = field.id|default('forminput'+randString(4)) %}
<div class="ui form field {{ field.class }}">
  <label for="{{ id }}">{{ __(field.label|default(name))|capitalize }}</label>
  <textarea class="texteditor" id="{{ id }}"
      {%- if field.required %} required{% endif %}
      name="{{ name }}" rows="8" cols="80"
      data-placeholder="{{ __('placeholder-textarea') }}">
    {{- value -}}
  </textarea>
</div>
{% endmacro %}

{###################}
{### IMAGE INPUT ###}
{###################}
{% macro image(name, field, value={}, showTitle=true) %}
{% set id = field.id|default('forminput'+randString(4)) %}
{% if showTitle -%}
  <h3>{{ __(field.label|default(name))|capitalize }}</h3>
{% endif %}
<div class="ui card inverted field-image">
  <div class="image">
    <img src="{%- if value.file -%}
          {{- getThumbnail(value.file, 'preview320') -}}
        {%- else -%}#{%- endif -%}">
    <div class="placeholder">
      <i class="fas fa-photo-video icon"></i>
      {{ __("choose-file")|capitalize }}
    </div>
  </div>
  <input id="{{ id }}-label" class="ui content attached top bottom clearable"
      type="text" placeholder="{{ __('label')|capitalize }}"
      autocomplete="off" name="{{ name }}.label" value="{{ value.label }}">
  <div class="ui bottom attached buttons">
    <button type="button" class="ui button choose" data-id="{{ id }}">
      <i class="fas fa-file icon"></i>
      {{ __("choose-file")|capitalize }}
    </button>
    <button type="button" class="ui button red inverted remove">
      <i class="fas fa-times icon"></i>
      {{ __("remove")|capitalize }}
    </button>
  </div>
  <input id="{{ id }}" type="hidden" name="{{ name }}.file"
      {%- if field.required %} required{% endif %}
      value="{{ value.file }}" autocomplete="off">
</div>
{% endmacro %}

{####################}
{### SELECT INPUT ###}
{####################}
{% macro select(name, field, value) %}
{% set id = field.id|default('forminput'+randString(4)) %}
<div class="ui form field {{ field.class }}">
  <label for="{{ id }}">{{ __(field.label|default(name))|capitalize }}</label>
  <div class="ui dropdown inverted {{ field.dropdown }}">
    <input type="hidden" name="{{ name }}" value="{{ value }}" id="{{ id }}">
    <i class="dropdown icon"></i>
    <div class="default text">
      {{ __(field.label|default(name))|capitalize }}
    </div>

    {% if field.list|isOfType('string') %}
      <div class="menu" data-list="{{ getLink(field.list) }}">
        <template><div class="item">{{"{{ item }}"}}</div></template>
      </div>
    {% else %}
      <div class="menu">
        {% for item in field.list %}
          <div class="item">{{ item }}</div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
{% endmacro %}

{########################}
{### REPEATABLE INPUT ###}
{########################}
{% macro repeatable(name, field, values, showTitle=false) %}
{% set subtype = field.type.split(".")[1] %}
{% if subtype == "image" %}
  {{ self.gallery(name, field, values, showTitle) }}
{% else %}
  {% if showTitle %}
  <label>{{ __(field.label|default(name))|capitalize }}</label>
  {% endif %}

  <button type="button" class="add" data-template="#repeatable_{{ name }}">
    {{ __("add")|capitalize +" "+ __(subtype) }}
  </button>

  {% if self[subtype] is defined %}
    {% macro _subfield(subtype, name, field, value) -%}
    <div class="subfield">
      {{- self[subtype](name+"["+randString(2)+"]", field, value, showTitle=false) -}}

      <button type="button" class="remove" title="{{ __('remove') }}">
        &times;
      </button>
    </div>
    {%- endmacro %}

    <template id="repeatable_{{ name }}">
      {{- _subfield(subtype, name, field) -}}
    </template>

    {% for value in values|default([null]) %}
      {{- _subfield(subtype, name, field, value) -}}
    {% endfor %}
  {% else %}
    Warning: Unknown field subtype '{{ subtype }}'
  {% endif %}
{% endif %}
{% endmacro %}

{#####################}
{### GALLERY INPUT ###}
{#####################}
{% macro gallery(name, field, values, showTitle) %}
{% set id = field.id|default('forminput'+randString(4)) %}
<div class="ui form field">
  {% if showTitle %}
  <label>{{ __(field.label|default(name))|capitalize }}</label>
  {% endif %}

  <div id="{{ id }}" class="ui cards field-gallery"
      data-template="#repeatable_{{ name }}">
    {% macro _subfield(subtype, name, field, value) -%}
      {{- self.image(name+"["+randString(2)+"]", field, value, showTitle=false) -}}
    {%- endmacro %}

    <template id="repeatable_{{ name }}">
      {{- _subfield(subtype, name, field) -}}
    </template>

    {% for value in values|default([]) %}
      {{- _subfield(subtype, name, field, value) -}}
    {% endfor %}

    {# <button type="button" class="add ui card inverted last invisible"
        data-template="#repeatable_{{ name }}" data-target="#{{ id }}">
      <div class="image"><img src="#"><div class="placeholder">
        <i class="icon fas fa-plus"></i>
        {{ __("add")|capitalize +" "+ __("image") }}
      </div></div>
    </button> #}
  </div>
</div>
{% endmacro %}
