{%- if not isAJAX -%}
  {%- extends "_root.njk" -%}

{%- elif isFullBody -%}
  {%- extends "_root_ajax.njk" -%}

{%- elif isTable and tbody -%}
  {% call tbody() %}{% endcall %}

{%- else -%}
{% block main %}
<main id="main" data-title="{% include '_parts/_title.njk' %}"
    data-basepath="{{ getLink('/') }}" data-assetpath="{{ getAsset('/') }}"
    data-iopath="{{ getLink('/socket') }}" data-systemapi="{{ systemAPI }}"
    data-filepath="{{ getFile('')|link }}">
  <h2>
    {%- if icon %}<i class="fas fa-fw fa-{{ icon }}"></i> {% endif -%}
    {{- title -}}
  </h2>
  {% if not hideBreadcrumb %} {% include "_parts/_breadcrumb.njk" %}{% endif %}

  {% block content %}
  [No content lol]
  {% endblock content %}
</main>
{% endblock main %}

{%- endif -%}
