<body class="ui pushable">
  {% block body %}
  {% include "_parts/_header.njk" %}
  <div class="pusher">
    <button class="sidebarToggler ui button black" id="menuToggler">
      <i class="fas fa-bars"></i>
    </button>

    {% block main %}{% endblock main %}
    </div>
  {% endblock body %}

  {% include "_parts/modules/_all.njk" %}
</body>
