{% extends "_main.njk" %}

{% set title = __(type.namePlural)|capitalize %}
{% set icon = type.icon %}

{% block content %}
<div class="ui flex">
  <a href="{{ getLink(req.url+'/_new') }}"
      class="ui green button icon labeled">
    <i class="icon fas fa-plus"></i>
    {{ __("new-"+type.name)|capitalize }}
  </a>
  <div class="ui icon input search right">
    <input type="search" placeholder="{{ __('search')|capitalize }}..."
        autocomplete="off" class="prompt" id="contentListing-search">
    <i class="fas fa-search fa-lg icon"></i>
  </div>
</div>

<table class="ui table striped datatable" id="contentListing" data-order="[3]"
    data-dom="tp" data-searchinput="#contentListing-search">
  <thead>
    <tr>
      <th>{{ __("title")|capitalize }}</th>
      <th class="center aligned">{{ __("category")|capitalize }}</th>
      <th class="center aligned">{{ __("author")|capitalize }}</th>
      <th class="center aligned">{{ __("mtime")|capitalize }}</th>
      <th data-orderable="false" class="two wide"></th>
    </tr>
  </thead>

  {% call tbody() %}{% endcall %}
</table>
{% endblock content %}


{% macro tbody() %}
<tbody>
  {% for item in result.items %}
  <tr>
    <td><a href="{{ getLink('./'+item.fields.slug) }}">
      <span class="ui text color">{{ item.fields.title }}</span>
    </a></td>
    <td class="center aligned">{{ item.fields.category }}</td>
    <td class="center aligned">{{ item.fields.author }}</td>
    <td class="center aligned date" data-sort="{{ item.fields.mtime }}">
      {{ item.fields.mtime }}
    </td>
    <td class="compact nopadding ui menu inverted fluid three item">
        <a class="item ui tooltip" title="{{ __('edit')|capitalize  }}"
            href="{{ getLink('./'+item.fields.slug) }}">
          <i class="fas fa-edit fa-fw"></i>
        </a>
        <a class="item ui tooltip" href=""
          {% if item.fields.isPublic %}
            title="{{ __('unpublish')|capitalize  }}">
            <i class="fas fa-eye-slash fa-fw"></i>
          {% else %}
            title="{{ __('publish')|capitalize  }}">
            <i class="fas fa-eye fa-fw"></i>
          {% endif %}
        </a>
        <a class="item ui tooltip" href="" title="{{ __('delete')|capitalize  }}">
          <i class="fas fa-trash fa-fw"></i>
        </a>
      </div>
    </td>
  </tr>
  {% endfor %}
</tbody>
{% endmacro%}
