{% extends "_main.njk" %}

{% set title = __("contenttypes")|capitalize %}

{% block content %}
<div class="ui cards inverted">
  {% for type in result %}
  <div class="card">
    <a class="content" href="{{ getLink('/content/'+type.namePlural) }}">
      <div class="ui icon header">
        <i class="fas fa-{{ type.icon }} icon"></i>
        <div class="content">{{ __(type.namePlural)|capitalize }}</div>
      </div>
    </a>
    <div class="ui bottom attached buttons compact">
      <a class="ui button" href="{{ getLink('/content/'+type.namePlural) }}">
        <i class="fas icon fa-list"></i>
        {{ __("show")|capitalize }} {{ __(type.namePlural) }}
      </a>
      <a class="ui button green"
          href="{{ getLink('/content/'+type.namePlural+'/_new') }}">
        <i class="fas icon fa-plus"></i>
        {{ __("new")|capitalize }} {{ __(type.name) }}
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
