{% extends "_main.njk" %}
{% import "_form.njk" as form with context %}

{% set title = __(type.name)|capitalize %}
{% set icon = type.icon %}

{% block content %}

  {# <div id="contentEditor-saving" style="display:none;">{{ __("saving")|capitalize }}...</div>
  <div id="contentEditor-saved" style="display:none;" >{{ __("saved")|capitalize }}!</div>
  <div id="contentEditor-error" style="display:none;" >
    {{ __("error")|capitalize }}: <span class="error-text"></span>
  </div> #}

  <form id="contentEditor" class="ui form"
      data-text-new="{{ __('new-'+type.name)|capitalize }}: "
      data-url="{{ getLink('~'+type.baseurl+'/'+result.fields.slug)|link }}"
      method="{% if result.fields.slug %}PUT{% else %}POST{% endif %}"
      action="{{ getLink('/api/content/'+type.name+'/'+result.fields.slug|default(''), false) }}">
    {# render generic fields #}
    {{ form.text("title", {
      required: true, class: "huge"
    }, result.fields.title) }}
    {# /render generic fields #}

    {# render fields for this specific contenttype #}
    {% for fieldName,field in type.fields %}
      {% set fieldType = field.type.split(".")[0] %}

      {% if form[fieldType] is defined %}
        {{ form[fieldType](fieldName, field, result.fields[fieldName], true) }}
      {% else %}
        Warning: Unknown field type '{{ field.type }}'
      {% endif %}
    {% endfor %}
    {# /render fields for this specific contenttype #}

    <div class="ui buttons large">
      <button type="submit" class="ui button green inverted">
        {{ __("save")|capitalize }}
      </button>
      <a href="" class="ui button green inverted">
        {{ __("save-and-new")|capitalize }} {{ __(type.name) }}
      </a>
    </div>

    <a href="" class="ui button default inverted large">
      {{ __("cancel")|capitalize }}
    </a>

    <a href="" class="ui button red inverted large">
      {{ __("delete")|capitalize }}
    </a>

    <div class="ui message success">
      {{ __("saved")|capitalize }}!
    </div>

    {# render generic fields #}
    <div class="ui right rail">
      <div class="ui card inverted">
        <div class="content">
          <div class="header">{{ __("options")|capitalize }}</div>
        </div>
        <div class="content">

          {{ form.switch("isPublic", {
            label: "public"
          }, result.fields.isPublic) }}

          {{ form.select("category", {
            list: CONFIG.urls.api._base+"/content/"+type.name+"/categories",
            dropdown: "selection clearable search addable"
          }, result.fields.category) }}
        </div>

        <button type="submit" class="ui button green">
          {{ __("save")|capitalize }}
        </button>
      </div>

      <a id="shareOnTwitter" target="_blank"
          class="ui button twitter fluid spaced">
        <i class="fab fa-twitter icon"></i>
        {{ __("share-on")|capitalize }} Twitter
      </a>

      <a id="shareOnFacebook" target="_blank"
          class="ui button facebook fluid spaced">
        <i class="fab fa-facebook icon"></i>
        {{ __("share-on")|capitalize }} Facebook
      </a>

      <div class="ui segment">
        <p>
          {{ __("mtime")|capitalize }}<br>
          <span class="ui text large date">{{ result.fields.mtime }}</span>
        </p>

        <p>
          {{ __("ctime")|capitalize }}<br>
          <span class="ui text large date">{{ result.fields.ctime }}</span>
        </p>
      </div>
    </div>
    {# /render generic fields #}

  </form>
{% endblock content %}
