{% extends "_main.njk" %}
{% import "_parts/_filesystem.njk" as table with context %}

{% set title = __("files")|capitalize %}
{% set icon = "folder" %}
{% set hideBreadcrumb = true %}
{% set tbody = table.tbody %}

{% block content %}
{% call table.default() %}{% endcall %}
<div id="fs-diskusage" class="ui progress primary">
  <div class="bar">
    <div class="progress"></div>
  </div>
  <div class="label">{{ __("disk-usage")|capitalize }}</div>
</div>
{% endblock content %}
