{% extends "_main.njk" %}

{% set title = __("dashboard")|capitalize %}

{% block content %}
<div id="dashboard">
   <div class="ui segment inverted padded dashWidget">
     <div class="ui horizontal inverted divider">
       <p class="ui header">
         <i class="fas fa-flag" style="color: #FFD700;"></i>
         {{__("updates")}}
       </p>
     </div>
     <div class="ui list">
       <div class="item major">
         <i class="fas fa-certificate major"></i>
         <div class="content">
            <div class="header">{Login Page}</div>
            <div class="description">{Redesigned Login Page}</div>
         </div>
       </div>
       <div class="item major">
         <i class="fas fa-certificate major"></i>
         <div class="content">
            <div class="header">{Dashboard}</div>
            <div class="description">{Redesigned Dashboard}</div>
         </div>
       </div>
     </div>
   </div>
   <div class="ui segment inverted padded dashWidget">
   </div>
   <div class="ui segment inverted padded dashWidget">
   </div>
   <div class="ui segment inverted padded dashWidget">
   </div>
</div>
{% endblock content %}
