{% extends "_main.njk" %}

{% set isFullBody = true %}
{% set title = __("please-login")|capitalize %}

{% block body %}
<main id="loginPage" data-title="{% include '_parts/_title.njk' %}">
  <img class="ui image medium" src="{{ getAsset('/img/purky_wb.png') }}" alt="{{ appName }}">

  <form class="ui form" action="{{ getLink('/login', false) }}" method="POST"
      data-pjax-anim0="slidedown">
    <div class="ui divider"></div>

    <h1 class="ui center aligned header">{{ __("please-login")|capitalize }}</h1>

    <div class="ui field">
      <div class="ui input labeled large">
        <label for="loginname" class="ui label">
          <i class="fas fa-user"></i>
        </label>
        <input id="loginname" type="text" name="username"
            autocomplete="off" placeholder="{{ __('username')|capitalize }}">
      </div>
    </div>
    <div class="ui field">
      <div class="ui input labeled large">
        <label for="loginpassword" class="ui label">
          <i class="fas fa-lock"></i>
        </label>
        <input id="loginpassword" type="password" name="password"
            autocomplete="off" placeholder="{{ __('password')|capitalize }}">
      </div>
    </div>

    <button class="ui submit labeled icon button green inverted large fluid">
      <i class="fas icon fa-sign-in-alt right"></i>
      {{ __("login")|capitalize }}
    </button>

    <div class="ui divider"></div>
  </form>

  <p class="copyright">© 2020 SSPBrno</p>
</main>
{% endblock body %}
