{% extends "_main.njk" %}

{% set title = __("you-are-offline")|capitalize %}
{% set icon = "ethernet" %}
{% set hideBreadcrumb = true %}

{% block content %}
{{ __("offline-message") }}
{% endblock content %}
