{% extends "_main.njk" %}

{% set title = __("system")|capitalize %}
{% set icon = "cogs" %}

{% block content %}
<div class="ui segment basic">
  <button id="editAccounts" class="ui button labeled icon spaced" disabled>
    <i class="fas fa-users icon"></i>
    {{ __("accounts")|capitalize }}
  </button>
  <button id="reloadConfig" class="ui button green labeled icon spaced"
      data-success="{{ __('reload-config-ok')|capitalize }}">
    <i class="fas fa-redo icon"></i>
    {{ __("reload-config")|capitalize }}
  </button>
  <button id="reloadConfig" disabled
      class="ui button basic inverted red labeled icon spaced">
    <i class="fas fa-power-off icon"></i>
    {{ __("softrestart")|capitalize }}
  </button>
  <button id="reloadConfig" disabled
      class="ui button basic inverted red labeled icon spaced">
    <i class="fas fa-power-off icon"></i>
    {{ __("restart")|capitalize }}
  </button>
</div>

<div class="ui segment" id="threadstatus">
  <span class="status-item">
    <span class="ui text status-icon icon">
      <i class="fas fa-spinner fa-pulse"></i>
    </span>
    {{ __("active-threads")|capitalize }}:
    {# ( {{-""-}}
    &gt; <span class="minThreads">#</span>,
    &lt; <span class="maxThreads">#</span>
    {{-""-}} )
    = <span class="activeThreads">#</span> #}
    <span class="activeThreads">#</span> /
    <span class="maxThreads">#</span>
  </span>

  <span class="status-item">
    {{ __("thread-fails")|capitalize }}: <span class="threadFails">#</span>
    <span class="ui text fail-icon icon">
      <i class="fas fa-spinner fa-pulse"></i>
    </span>
  </span>
</div>

<div class="ui segment basic">
  <div id="sys-cpu" class="ui multiple progress primary">
    <div class="bar"><div class="progress"></div></div>
    <div class="label">{{ __("current-cpu-usage")|capitalize }}</div>
  </div>
  <div id="sys-mem" class="ui progress primary">
    <div class="bar"><div class="progress"></div></div>
    <div class="label">{{ __("current-mem-usage")|capitalize }}</div>
  </div>
</div>

<div class="ui segment basic center aligned section">
  <p><small>
    Running
    <span class="code">NodeJS {{ version }} {% if lts %}LTS{% endif %}</span>
    in
    <span class="code">
      {% if isProduction %}production{% else %}developer{% endif %}
    </span>
    mode as <span class="code">{{ osuser }}</span>
    inside <span class="code">{{ cwd }}/</span>
    on <span class="code">{{ hostname }}</span> with
    <span class="code">{{ platform }} {{ arch }} {{ kernel }} {{ os }}</span>.
  </small></p>
</div>
{% endblock content %}
