{% import "_parts/_filesystem.njk" as table with context %}
<template id="fileChooser">
  {{-""-}}
  <div class="ui modal large">
    <div class="header">{{ __("choose-file")|capitalize }}</div>
    <div class="content nopadding scrolling">
      {% call table.default() %}{% endcall %}
    </div>
    <div class="actions">
      <button class="ui button cancel large">
        {{ __("cancel")|capitalize }}
      </button>
      <button class="ui button ok green large">
        {{ __("choose")|capitalize }}
      </button>
    </div>
    <a id="fs-root" href="{{ getLink('/files') }}" data-table="filesystem"
        data-pushState="false"></a>
  </div>
  {{-""-}}
</template>
