@import "_variables";

// Semantic
@import "~fomantic-ui-sass/src/semantic";

//
// Overrides
//
//
// DataTables overrides
.dataTables_paginate{
  .pagination { @extend .inverted; }
  text-align: right;
}

//
// EasyMDE Overrides
.EasyMDEContainer {
  .editor-preview{
    background: $page-background;
  }

  .editor-toolbar{
    @extend .ui, .buttons, .large, .top, .attached;
    border: 0;
    background-color: $mid-white;
    padding: 0;

    button{
      @extend .ui, .button, .icon, .inverted, .basic;
      width: auto;
      height: auto;
      color: $text-color;
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;

      &.active{
        color: $text-color;
      }

      i{
        @extend .icon;
      }
    }

    .separator{
      border: 0;
      margin: 0 12px;
    }
  }

  .CodeMirror{
    @extend .ui,.field, textarea;
    border-top-left-radius: 0 !important;
    font-weight: normal;
    resize: none !important;
    height: 24em;
    padding: 0 !important;
    position: relative;

    &::before{
      content: "";
      z-index: 10;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 6px $input-background inset !important;
      pointer-events: none;
    }

    &:focus-within{
      @extend :focus;
    }

    .CodeMirror-hscrollbar,.CodeMirror-vscrollbar { display: none !important; }

    .CodeMirror-scroll{
      width: 100%;
      height: 100%;
      min-height: 0 !important;
      padding: 16px;
      box-sizing: border-box;
      overflow-x: hidden !important;
      overflow-y: auto !important;
    }
  }
}
