@import "_variables";

.ui.flex{
  display: flex;
  align-items: center;

  .right{ margin-left: auto; }
  .left{ margin-right: auto; }
  .center{ @extend .right, .left; }
}

.ui.text.color{ color: $text-color; }
.center.margined{ margin-left: auto !important; margin-right: auto !important; }
.text.centered{ text-align: center; }

.nopadding{ padding: 0 !important; }
.nomargin{ margin: 0 !important; }

.code{
  display: inline-block;
  padding: 2px 4px;
  margin: 0 1px;
  background-color: rgba(0, 0, 0, .25);
  border-radius: 4px;
}

html,body{
  // background-image: url("../img/abstract03.jpg");
  // background-size: auto 150%;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-clip: border-box;
  scrollbar-width: thin;
  scrollbar-color: $dark-white black;
}

// PJAX transition animations
body, main#main{
  background: $page-background !important;

  // PJAX animations
  &.default{
    opacity: 0;
    transition: opacity .25s ease-in;

    &.shown{
      opacity: 1;
    }
  }

  &.slidedown{
    transform: translateY(-100%);
    transition: transform .5s;

    &.shown{
      transform: translateY(0);
    }
  }

  &.none{
    &.shown{ }
  }
}

#breadcrumb{
  margin: 0 0 12px 0;
}

//
// LOGIN
//
#loginPage{
  margin: auto;
  padding: 5vh 5vw;
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  img{
    margin: 3vh auto 2vh auto;
  }
}
main{
  width: 100%;
  margin-top: 16px;
  padding: 5vh 4vw;
  h2{
    text-transform: uppercase;
  }
}


//
// SIDEBAR
//
#menuToggler{
  position: fixed; // <- fallback
  position: sticky;
  top: 10px;
  left: 0;
  z-index: 999;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-left: 0 !important;
  background-color: $darkerColor !important;
  border-color: $darkestColor !important;
  color: $text-color !important;
}

#sidebarMenu{
  font-size: medium;
  padding-bottom: 97px;
  scrollbar-width: thin;
  scrollbar-color: $darkestColor $light-black;

  .dashBrand{
    width: 186px;
    height: auto;
    margin: 50px 25px;
  }

  .item{
    &:hover{
      background-color: $darkColor;
    }
    &::before{
      background: none !important;
    }
    i{
      margin-right: 10px;
    }
  }

  .account{
    display: flex;
    flex-direction: row;
    justify-content: center;
    // background-color: $darkestColor;
    width: 100%;
    height: 97px;
    padding: 10px 0;
    position: fixed; bottom: 0; left: 0;

    .accountImg{
      width: 64px;
      height: 64px;
      margin: auto 10px;
    }
    .accountInfo{
      margin: 0 10px;
      p{
        text-align: center;
        font-size: 14px;
        margin: 5px 0;
      }
      .button{
        text-transform: uppercase;
        border-color: $pgreen !important;
        color: $pgreen;
        margin: 5px 0;
        &:hover, &:focus{
          background-color: $pgreen;
          color: white;
        }
        i{
          margin-right: 5px;
        }
      }
    }
  }
}


//
// DASHBOARD
//

#dashboard{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 100%;

  .dashWidget{
    // background-color: $darkerColor !important;
    width: 40%;
    margin: 25px auto;
    .header{
      color: white;
      font-size: 2em;
      text-transform: uppercase;
      i{
        margin-right: 15px;
      }
    }
    .ui.list{
      .item.major{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 15px 0 15px 15px;
        i{
          margin-right: 15px;
          color: #46d41c;
          font-size: 30px;
        }
        .content{
          .header{
            font-size: 18px;
            text-transform: uppercase;
          }
          .description{
            margin-top: 10px;
            color: #dfdfdf;
          }
        }
      }
    }
  }
}

//
// Content listing
//
#contentListing{
  margin: 8px 0;
}

//
// Content Editor
//

#contentEditor{
  margin-right: 300px;

  // card image enhancements
  .ui.card .image {
    position: relative;
    padding-top: 100%;
    overflow: hidden;
    cursor: pointer;

    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      transition: opacity .25s;
      opacity: 1;
      object-fit: cover;

      // card image placeholder
      & ~ .placeholder{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: 0;
        cursor: pointer;
        opacity: 0;
        font-size: 1.5rem;
        line-height: 1.2;
        color: white;
        transition: opacity .25s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .icon{
          font-size: 8rem;
          margin-bottom: 1rem;
        }
      }

      &[src=""], &[src="#"], &:not([src]){
        opacity: 0;
        pointer-events: none;

        & ~ .placeholder{
          opacity: .5;

          &:hover{
            opacity: .75;
          }
        }
      }
    }
  }
}


//
// filesystem
//
#fs-menubar{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 999;
  background: $page-background;
}
#filesystem{
  margin: 8px 0;

  tr{
    position: relative;
    transform: scale(1);

    & td:last-child{
      padding: 0;
      position: absolute;
      top: 0;  left: 0;
      z-index: 0;
      height: 100%;
      width: 0%;
      background-color: transparentize($primary, .5);
      transition: width .25s;
    }
    &.selected td:last-child{
      width: 100%;
    }
    td{
      position: relative;
      z-index: 1;
    }
  }

  .thumbnail{
    height: 32px;
    width: auto;
  }
  .filename{
    cursor: default;
    .rename{
      cursor: pointer;
      opacity: 0;
      transition: opacity .25s;
    }
    &:hover > .rename{
      opacity: 1;
    }
  }
}


//
// system
//
#threadstatus {
  .status-item{
    margin-right: 32px;
  }

  .icon { margin: 0 8px; }
}
